@mixin scrollContainer{
    height: 100vh;
    overflow: hidden;
}

.layout-wrapper{
    display: flex;
}
.sidebar-wrapper{
    @include scrollContainer;
    display: none;
    flex: 1;
    @media screen and (min-width : $laptop){
        display: block;
    }
    
}
.mainview-wrapper{
    @include scrollContainer;
    flex: 3;
}
.container {
    margin: 0 5%;
}