@mixin scrollContainer{
    height: 100vh;
    overflow-y: hidden;
}

.layout-wrapper{
    display: flex;
}
.sidebar-wrapper{
    @include scrollContainer;
    flex: 0;
    transition: all .5s ease-in-out;
    background: red;
    @media screen and (min-width : $laptop){
        flex : 1;
    }
    

}
.toggle-btn{
    float: right;
}
.mainview-wrapper{
    @include scrollContainer;
    flex: 3;
}
.container {
    margin: 0 5%;
}